%nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
  %a.navbar-brand{:href => "#"} Open Vagas
  %button.navbar-toggler{"aria-controls" => "conteudoNavbarSuportado", "aria-expanded" => "false", "aria-label" => "Alterna navegação", "data-target" => "#conteudoNavbarSuportado", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #conteudoNavbarSuportado.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{:href => root_path} Home
      %li.nav-item
        %a.nav-link{:href => "#"} Login / Register
//      %li.nav-item.dropdown
//        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
//          Dropdown
//        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
//          %a.dropdown-item{:href => "#"} Ação
//          %a.dropdown-item{:href => "#"} Outra ação
//          .dropdown-divider
//          %a.dropdown-item{:href => "#"} Algo mais aqui