%nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
  %a.navbar-brand{:href => "#"} Open Vagas
  %button.navbar-toggler{"aria-controls" => "conteudoNavbarSuportado", "aria-expanded" => "false", "aria-label" => "Alterna navegação", "data-target" => "#conteudoNavbarSuportado", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #conteudoNavbarSuportado.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-link
        = link_to 'Home', root_path, class: 'nav-item'   
      %li.nav-link
        = link_to 'Minha Empresa', root_path, class: 'nav-item'         
    - unless user_signed_in?
      %li.nav-link
        = link_to 'Entrar / Registrar', new_user_session_path, class: 'nav-item'
    - if user_signed_in?
      %li.nav-link.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Configurações
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          = link_to('Sair', destroy_user_session_path, method: :delete, class: 'dropdown-item')