%section#artigos.text-center
  %br 
  %br
  %h2.h2 Artigos
/ Artigos
%section.row.text-center
  %article.col-md-4
    .card
      .card-body
        %img.imagem-card{:alt => "", :src => ""}/
        %h5.card-title Resultados
        %p Publicado em: 15/11/2020
        %hr/
        %h6.card-text Maior eficiência do processo orçamentário e de controle dos gastos e crescimento da receita operacional, com melhoria da margem de contribuição.
        %a.linkInfo{:href => "blog"} Continue lendo ...
  / Artigo 1
  %article.col-md-4
    .card
      .card-body
        %img.imagem-card{:alt => "", :src => ""}/
        %h5.card-title Reestruturação
        %p Publicado em: 15/11/2020
        %hr/
        %h6.card-text Padronização dos procedimentos gerenciais e operacionais com aumento da produtividade e garantia de processos estáveis e padronizados.
        %a.linkInfo{:href => "blog"} Continue lendo ...
  / Artigo 2
  %article.col-md-4
    .card
      .card-body
        %img.imagem-card{:alt => "", :src => ""}/
        %h5.card-title Estratégia
        %p Publicado em: 15/11/2020
        %hr/
        %h6.card-text Foco nos resultados de médio e longo prazo e maximização do lucro e do crescimento sustentado. Aumento da confiabilidade nos serviços e produtos.
        %a.linkInfo{:href => "blog"} Continue lendo ...
  / Artigo 3
/ row