.conteudo
/ conteudo

%section.home.banner-container
  .center
    .banner-single.imgFinanceiro
    / banner-single
    .banner-single.imgProcessos
    / banner-single
    .banner-single.imgEstrutura
    / banner-single
    .overlay
    / overlay
    %div
      %h5#textoPrincipal
  / center
/ Banner Principal

%section#quemsomos
  .conteudo
  / conteudo
  .center
    .center
      %h2.h2 Quem Somos
    / center
  / center
/ Quem Somos
%section.row
  %article.col
    .card
      .card-body
        %h6.card-text
  / Quem somos 1
/ row

%section#servicos
  .conteudo
  / conteudo
  %h2.h2 Nossos Serviços
/ Serviços
%section.row
  %article.col-4
    .card
      .card-body
        %h5.card-title
        %h6.card-text
        %a{:href => "#servicos"}
          %button.btnInfo{:type => "button"}
  / Serviço 1
  %article.col-4
    .card
      .card-body
        %h5.card-title
        %h6.card-text
        %a{:href => "#servicos"}
          %button.btnInfo{:type => "button"}
  / Serviço 2
  %article.col-4
    .card
      .card-body
        %h5.card-title
        %h6.card-text
        %a{:href => "#servicos"}
          %button.btnInfo{:type => "button"}
  / Serviço 3
  %article.col-4
    .card
      .card-body
        %h5.card-title
        %h6.card-text
        %a{:href => "#servicos"}
          %button.btnInfo{:type => "button"}
  / Serviço 4
  %article.col-4
    .card
      .card-body
        %h5.card-title
        %h6.card-text
        %a{:href => "#servicos"}
          %button.btnInfo{:type => "button"}
  / Serviço 5
  %article.col-4
    .card
      .card-body
        %h5.card-title
        %h6.card-text
        %a{:href => "#servicos"}
          %button.btnInfo{:type => "button"}
  / Serviço 6
/ row

%section#planos
  .conteudo
  / conteudo
  %h2.h2 Planos Disponíveis
  %h6 Escolha a melhor modalidade para você:
  %h6 Presencial ou Online
/ Planos Disponíveis
%section.row
  %article.col-4
    .card
      .card-body
        %h5.card-title
        %img.imagem-card{:alt => "", :src => ""}/
        %h6.card-text
        %a{:href => "#planos"}
          %button.btnSaibaMais{:type => "button"}
  / Plano 1
  %article.col-4
    .card
      .card-body
        %h5.card-title
        %img.imagem-card{:alt => "", :src => ""}/
        %h6.card-text
        %a{:href => "#planos"}
          %button.btnSaibaMais{:type => "button"}
  / Plano 2
  %article.col-4
    .card
      .card-body
        %h5.card-title
        %img.imagem-card{:alt => "", :src => ""}/
        %h6.card-text
        %a{:href => "#planos"}
          %button.btnSaibaMais{:type => "button"}
  / Plano 3
/ row

%section#artigos
  .conteudo
  / conteudo
  %h2.h2 Artigos
/ Artigos
%section.row
  %article.col-4
    .card
      .card-body
        %img.imagem-card{:alt => "", :src => ""}/
        %h5.card-title
        %p Publicado em:
        %hr/
        %h6.card-text
        %a.linkInfo{:href => "blog"}
  / Artigo 1
  %article.col-4
    .card
      .card-body
        %img.imagem-card{:alt => "", :src => ""}/
        %h5.card-title
        %p Publicado em:
        %hr/
        %h6.card-text
        %a.linkInfo{:href => "blog"}
  / Artigo 2
  %article.col-4
    .card
      .card-body
        %img.imagem-card{:alt => "", :src => ""}/
        %h5.card-title
        %p Publicado em:
        %hr/
        %h6.card-text
        %a.linkInfo{:href => "blog"}
  / Artigo 3
/ row
