- unless user_signed_in? 
  = render 'painel/acesso'

- if user_signed_in? 
  %h2 Painel Cadastros
  %br
  %section.row
    %article.col-md-4
      .card.text-center
        .card-body
          %h4.card-title Produtos em estoque
          %h5.card-text Qtde: 250
          %h5.card-text Valor Total: R$ 1.500,00
          %a{:href => painel_path}
          %a{:href => financeiro_path} 
            %button.btn.btn-success{:type => "button"}Consultar Cadastro
          %hr/
          %h4.card-title Estoque de segurança
          %h5.card-text Itens zerados: 250
          %h5.card-text Itens negativos: 15
          %p
          %a{:href => financeiro_path} 
            %button.btn.btn-success{:type => "button"}Consultar controles
    / Artigo 1
    %article.col-md-4
      .card.text-center
        .card-body
          %h4.card-title Clientes atendidos
          %h5.card-text Qtde: 25
          %h5.card-text Valor Total: R$ 6.350,00
          %a{:href => painel_path}
          %a{:href => financeiro_path} 
            %button.btn.btn-success{:type => "button"}Consultar Pedidos
          %hr/
          %h4.card-title Pedidos pendentes
          %h5.card-text Qtde: 9
          %h5.card-text Valor Total: R$ 1.287,00
          %p
          %a{:href => financeiro_path} 
            %button.btn.btn-success{:type => "button"}Consultar Pedidos
    / Artigo 2
    %article.col-md-4
      .card.text-center
        .card-body
          %h4.card-title Compras efetuadas
          %h5.card-text Dia: R$ 900,00
          %h5.card-text Mês: R$ 3.287,00
          %a{:href => painel_path}
          %a{:href => financeiro_path} 
            %button.btn.btn-success{:type => "button"}Consultar Estoque
          %hr/
          %h4.card-title Compras atrasadas
          %h5.card-text Qtde: 1
          %h5.card-text Valor Total: R$ 350,00
          %p
          %a{:href => financeiro_path} 
            %button.btn.btn-success{:type => "button"}Consultar Compras
    / Artigo 3
  / row