- unless user_signed_in? 
  = render 'painel/acesso'

- if user_signed_in?
  %h2 Painel Vendas
  %br
  %section.row
    %article.col-md-4
      .card.text-center
        .card-body
          %h4.card-title Vendas
          %h5.card-text Dia: R$ 1.500,00
          %h5.card-text Mês: R$ 6.350,00
          %a{:href => painel_path}
          %a{:href => financeiro_path} 
            %button.btn.btn-success{:type => "button"}Consultar Vendas
          %hr/
          %h4.card-title Pedidos em aberto
          %h5.card-text Qtde: 900 unidades
          %h5.card-text Valor Total: R$ 3.287,00
          %p
          %a{:href => financeiro_path} 
            %button.btn.btn-success{:type => "button"}Consultar Pedidos
    / Artigo 1
    %article.col-md-4
      .card.text-center
        .card-body
          %h4.card-title Comissões
          %h5.card-text Qtde: 4.500 unidades
          %h5.card-text Valor Total: R$ 6.350,00
          %a{:href => painel_path}
          %a{:href => financeiro_path} 
            %button.btn.btn-success{:type => "button"}Consultar Saldo
          %hr/
          %h4.card-title Pedidos cancelados
          %h5.card-text Qtde: 900 unidades
          %h5.card-text Valor Total: R$ 3.287,00
          %p
          %a{:href => financeiro_path} 
            %button.btn.btn-success{:type => "button"}Consultar Pedidos
    / Artigo 2
    %article.col-md-4
      .card.text-center
        .card-body
          %h4.card-title Devoluções
          %h5.card-text Dia: R$ 3.287,00
          %h5.card-text Mês: R$ 3.287,00
          %a{:href => painel_path}
          %a{:href => financeiro_path} 
            %button.btn.btn-success{:type => "button"}Consultar Devoluções
          %hr/
          %h4.card-title Trocas
          %h5.card-text Dia: R$ 3.287,00
          %h5.card-text Mês: R$ 3.287,00
          %p
          %a{:href => financeiro_path} 
            %button.btn.btn-success{:type => "button"}Consultar Trocas
    / Artigo 3
  / row